<%- include("header") %>
<body>
<div class="aid-wrapper">
  <div class="hero">
    <div class="row">
      <div class="col-12">
        <div class="logout" onclick="window.location.href='/logout'">
          Logout
        </div>
      </div>
    </div>
    <div class="t-box">
      <div class="t-caption">
        People Requiring Aid
      </div>
      <div class="t-wrap">
        <table class="table">
          <thead class="black white-text">
            <tr>
              <th scope="col">Pincode</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Contact</th>
              <th scope="col">Medicine</th>
              <th scope="col">Rations</th>
              <th scope="col">Ambulance</th>
              <th scope="col">Other Requirements</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% users.forEach(function(user){ %>
              <tr>
                  <td> <%=  user.pincode %> </td>
                  <td> <%=  user.name %> </td>
                  <td> <%=  user.address %> </td>
                  <td> <%=  user.contact %> </td>
                  <td> <%=  user.medicine %>  </td>
                  <td> <%=  user.ration %> </td>
                  <td> <%=  user.ambulance %> </td>
                  <td> <%=  user.requirement %> </td>
                  <td> <%=  user.assignedTo %> </td>
                  <td>
                    <% if (user.assignedTo === "Not Assigned"){ %>
                      <form action="/sos/<%= user._id %>?_method=PUT" method="POST">
                        <button class="btn btn-success"> Assign This To Me </button>
                      </form>
                    <% }else { %>
                      <form action="/sos/<%= user._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"> Delete </button>
                      </form>
                    <% } %>
                  </td>
              </tr>
            <% }) %>

          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%- include("footer") %>
